

/* convert radio to list of buttons */
div[role="radiogroup"] {
    display: flex;
}
input[type="radio"] + div {
    background: #424949 !important;
    color: #FFF;
    border-radius: 5px !important;
    padding: 8px 18px !important;
    width: 280px !important;
}
input[type="radio"][tabindex="0"] + div {
    background: #424949 !important;
    color: #00ffa6 !important;
}
input[type="radio"][tabindex="0"] + div p {
    color: #00ffa6 !important;
}
div[role="radiogroup"] label > div:first-child {
    display: none !important;
}
div[role="radiogroup"] label {
    margin-right: 0px !important;
}
div[role="radiogroup"] {
    gap: 12px;
}